In [20]:
import datasets
import pandas as pd

In [2]:
data = datasets.load_dataset("ibm-research/tab_fact")

In [45]:
data['train'][1]

{'id': 0,
 'table': {'id': '2-15401676-3.html.csv',
  'header': ['date', 'result', 'score', 'brazil scorers', 'competition'],
  'rows': [['may 11 , 1919',
    'w',
    '6 - 0',
    'friedenreich (3) , neco (2) , haroldo',
    'south american championship'],
   ['may 18 , 1919',
    'w',
    '3 - 1',
    'heitor , amílcar , millon',
    'south american championship'],
   ['may 26 , 1919', 'd', '2 - 2', 'neco (2)', 'south american championship'],
   ['may 29 , 1919',
    'w',
    '1 - 0',
    'friedenreich',
    'south american championship'],
   ['june 1 , 1919',
    'd',
    '3 - 3',
    'haroldo , arlindo (2)',
    'taça roberto cherry']],
  'caption': '1919 in brazilian football'},
 'statement': '4 of the 5 game be for the south american championship',
 'label': 1}

In [47]:
def array_to_df(headers: list, rows: list) -> pd.DataFrame:
    sample = pd.DataFrame(data=rows,columns=headers) 
    return sample
    
headers, rows = data['train'][1]['table']['header'], data['train'][1]['table']['rows']
test = array_to_df(headers, rows)

,date,result,score,brazil scorers,competition
0,"may 11 , 1919",w,6 - 0,"friedenreich (3) , neco (2) , haroldo",south american championship
1,"may 18 , 1919",w,3 - 1,"heitor , amílcar , millon",south american championship
2,"may 26 , 1919",d,2 - 2,neco (2),south american championship
3,"may 29 , 1919",w,1 - 0,friedenreich,south american championship
4,"june 1 , 1919",d,3 - 3,"haroldo , arlindo (2)",taça roberto cherry

In [65]:
import requests

def convert_df_to_html(df: pd.DataFrame) -> str:
    return df.to_html()

def convert_html_to_list_table(html: str) -> str:
    json_data = {
        "html": test_rst,
    }

    response = requests.post(
        "http://5.35.3.148:16000/convert",
        json=json_data,
        auth=("parsing", "dV9lriXNjujcOur4uy6AfuWzcveaHTky"),
    )
    return response.json()["markdown"]

In [68]:
html_format = convert_df_to_html(test)
rst_format = convert_html_to_list_table(html_format)
rst_format

'.. list-table::\n   :header-rows: 1\n\n   * - \n     - date\n     - result\n     - score\n     - brazil scorers\n     - competition\n   * - 0\n     - may 11 , 1919\n     - w\n     - 6 - 0\n     - friedenreich (3) , neco (2) , haroldo\n     - south american championship\n   * - 1\n     - may 18 , 1919\n     - w\n     - 3 - 1\n     - heitor , amílcar , millon\n     - south american championship\n   * - 2\n     - may 26 , 1919\n     - d\n     - 2 - 2\n     - neco (2)\n     - south american championship\n   * - 3\n     - may 29 , 1919\n     - w\n     - 1 - 0\n     - friedenreich\n     - south american championship\n   * - 4\n     - june 1 , 1919\n     - d\n     - 3 - 3\n     - haroldo , arlindo (2)\n     - taça roberto cherry'